<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskt.mapper.ItripUserLinkUserMapper">

    <resultMap id="BaseResultMap" type="com.cskt.pojo.ItripUserLinkUser">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="linkUserName" column="linkUserName" jdbcType="VARCHAR"/>
            <result property="linkIdCard" column="linkIdCard" jdbcType="VARCHAR"/>
            <result property="linkPhone" column="linkPhone" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="INTEGER"/>
            <result property="creationDate" column="creationDate" jdbcType="TIMESTAMP"/>
            <result property="createdBy" column="createdBy" jdbcType="BIGINT"/>
            <result property="modifyDate" column="modifyDate" jdbcType="TIMESTAMP"/>
            <result property="modifiedBy" column="modifiedBy" jdbcType="BIGINT"/>
            <result property="linkIdCardType" column="linkIdCardType" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,linkUserName,linkIdCard,
        linkPhone,userId,creationDate,
        createdBy,modifyDate,modifiedBy,
        linkIdCardType
    </sql>
</mapper>
