<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskt.mapper.ItripHotelOrderMapper">

    <resultMap id="BaseResultMap" type="com.cskt.pojo.ItripHotelOrder">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="orderType" column="orderType" jdbcType="INTEGER"/>
            <result property="orderNo" column="orderNo" jdbcType="VARCHAR"/>
            <result property="tradeNo" column="tradeNo" jdbcType="VARCHAR"/>
            <result property="hotelId" column="hotelId" jdbcType="BIGINT"/>
            <result property="hotelName" column="hotelName" jdbcType="VARCHAR"/>
            <result property="roomId" column="roomId" jdbcType="BIGINT"/>
            <result property="count" column="count" jdbcType="INTEGER"/>
            <result property="bookingDays" column="bookingDays" jdbcType="INTEGER"/>
            <result property="checkInDate" column="checkInDate" jdbcType="TIMESTAMP"/>
            <result property="checkOutDate" column="checkOutDate" jdbcType="TIMESTAMP"/>
            <result property="orderStatus" column="orderStatus" jdbcType="INTEGER"/>
            <result property="payAmount" column="payAmount" jdbcType="DECIMAL"/>
            <result property="payType" column="payType" jdbcType="INTEGER"/>
            <result property="noticePhone" column="noticePhone" jdbcType="VARCHAR"/>
            <result property="noticeEmail" column="noticeEmail" jdbcType="VARCHAR"/>
            <result property="specialRequirement" column="specialRequirement" jdbcType="VARCHAR"/>
            <result property="isNeedInvoice" column="isNeedInvoice" jdbcType="INTEGER"/>
            <result property="invoiceType" column="invoiceType" jdbcType="INTEGER"/>
            <result property="invoiceHead" column="invoiceHead" jdbcType="VARCHAR"/>
            <result property="linkUserName" column="linkUserName" jdbcType="VARCHAR"/>
            <result property="bookType" column="bookType" jdbcType="INTEGER"/>
            <result property="creationDate" column="creationDate" jdbcType="TIMESTAMP"/>
            <result property="createdBy" column="createdBy" jdbcType="BIGINT"/>
            <result property="modifyDate" column="modifyDate" jdbcType="TIMESTAMP"/>
            <result property="modifiedBy" column="modifiedBy" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,orderType,
        orderNo,tradeNo,hotelId,
        hotelName,roomId,count,
        bookingDays,checkInDate,checkOutDate,
        orderStatus,payAmount,payType,
        noticePhone,noticeEmail,specialRequirement,
        isNeedInvoice,invoiceType,invoiceHead,
        linkUserName,bookType,creationDate,
        createdBy,modifyDate,modifiedBy
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from itrip_hotel_order
        where  id = #{id,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from itrip_hotel_order
        where  id = #{id,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.cskt.pojo.ItripHotelOrder" useGeneratedKeys="true">
        insert into itrip_hotel_order
        ( id,userId,orderType
        ,orderNo,tradeNo,hotelId
        ,hotelName,roomId,count
        ,bookingDays,checkInDate,checkOutDate
        ,orderStatus,payAmount,payType
        ,noticePhone,noticeEmail,specialRequirement
        ,isNeedInvoice,invoiceType,invoiceHead
        ,linkUserName,bookType,creationDate
        ,createdBy,modifyDate,modifiedBy
        )
        values (#{id,jdbcType=BIGINT},#{userId,jdbcType=BIGINT},#{orderType,jdbcType=INTEGER}
        ,#{orderNo,jdbcType=VARCHAR},#{tradeNo,jdbcType=VARCHAR},#{hotelId,jdbcType=BIGINT}
        ,#{hotelName,jdbcType=VARCHAR},#{roomId,jdbcType=BIGINT},#{count,jdbcType=INTEGER}
        ,#{bookingDays,jdbcType=INTEGER},#{checkInDate,jdbcType=TIMESTAMP},#{checkOutDate,jdbcType=TIMESTAMP}
        ,#{orderStatus,jdbcType=INTEGER},#{payAmount,jdbcType=DECIMAL},#{payType,jdbcType=INTEGER}
        ,#{noticePhone,jdbcType=VARCHAR},#{noticeEmail,jdbcType=VARCHAR},#{specialRequirement,jdbcType=VARCHAR}
        ,#{isNeedInvoice,jdbcType=INTEGER},#{invoiceType,jdbcType=INTEGER},#{invoiceHead,jdbcType=VARCHAR}
        ,#{linkUserName,jdbcType=VARCHAR},#{bookType,jdbcType=INTEGER},#{creationDate,jdbcType=TIMESTAMP}
        ,#{createdBy,jdbcType=BIGINT},#{modifyDate,jdbcType=TIMESTAMP},#{modifiedBy,jdbcType=BIGINT}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.cskt.pojo.ItripHotelOrder" useGeneratedKeys="true">
        insert into itrip_hotel_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="userId != null">userId,</if>
                <if test="orderType != null">orderType,</if>
                <if test="orderNo != null">orderNo,</if>
                <if test="tradeNo != null">tradeNo,</if>
                <if test="hotelId != null">hotelId,</if>
                <if test="hotelName != null">hotelName,</if>
                <if test="roomId != null">roomId,</if>
                <if test="count != null">count,</if>
                <if test="bookingDays != null">bookingDays,</if>
                <if test="checkInDate != null">checkInDate,</if>
                <if test="checkOutDate != null">checkOutDate,</if>
                <if test="orderStatus != null">orderStatus,</if>
                <if test="payAmount != null">payAmount,</if>
                <if test="payType != null">payType,</if>
                <if test="noticePhone != null">noticePhone,</if>
                <if test="noticeEmail != null">noticeEmail,</if>
                <if test="specialRequirement != null">specialRequirement,</if>
                <if test="isNeedInvoice != null">isNeedInvoice,</if>
                <if test="invoiceType != null">invoiceType,</if>
                <if test="invoiceHead != null">invoiceHead,</if>
                <if test="linkUserName != null">linkUserName,</if>
                <if test="bookType != null">bookType,</if>
                <if test="creationDate != null">creationDate,</if>
                <if test="createdBy != null">createdBy,</if>
                <if test="modifyDate != null">modifyDate,</if>
                <if test="modifiedBy != null">modifiedBy,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">id = #{id,jdbcType=BIGINT},</if>
                <if test="userId != null">userId = #{userId,jdbcType=BIGINT},</if>
                <if test="orderType != null">orderType = #{orderType,jdbcType=INTEGER},</if>
                <if test="orderNo != null">orderNo = #{orderNo,jdbcType=VARCHAR},</if>
                <if test="tradeNo != null">tradeNo = #{tradeNo,jdbcType=VARCHAR},</if>
                <if test="hotelId != null">hotelId = #{hotelId,jdbcType=BIGINT},</if>
                <if test="hotelName != null">hotelName = #{hotelName,jdbcType=VARCHAR},</if>
                <if test="roomId != null">roomId = #{roomId,jdbcType=BIGINT},</if>
                <if test="count != null">count = #{count,jdbcType=INTEGER},</if>
                <if test="bookingDays != null">bookingDays = #{bookingDays,jdbcType=INTEGER},</if>
                <if test="checkInDate != null">checkInDate = #{checkInDate,jdbcType=TIMESTAMP},</if>
                <if test="checkOutDate != null">checkOutDate = #{checkOutDate,jdbcType=TIMESTAMP},</if>
                <if test="orderStatus != null">orderStatus = #{orderStatus,jdbcType=INTEGER},</if>
                <if test="payAmount != null">payAmount = #{payAmount,jdbcType=DECIMAL},</if>
                <if test="payType != null">payType = #{payType,jdbcType=INTEGER},</if>
                <if test="noticePhone != null">noticePhone = #{noticePhone,jdbcType=VARCHAR},</if>
                <if test="noticeEmail != null">noticeEmail = #{noticeEmail,jdbcType=VARCHAR},</if>
                <if test="specialRequirement != null">specialRequirement = #{specialRequirement,jdbcType=VARCHAR},</if>
                <if test="isNeedInvoice != null">isNeedInvoice = #{isNeedInvoice,jdbcType=INTEGER},</if>
                <if test="invoiceType != null">invoiceType = #{invoiceType,jdbcType=INTEGER},</if>
                <if test="invoiceHead != null">invoiceHead = #{invoiceHead,jdbcType=VARCHAR},</if>
                <if test="linkUserName != null">linkUserName = #{linkUserName,jdbcType=VARCHAR},</if>
                <if test="bookType != null">bookType = #{bookType,jdbcType=INTEGER},</if>
                <if test="creationDate != null">creationDate = #{creationDate,jdbcType=TIMESTAMP},</if>
                <if test="createdBy != null">createdBy = #{createdBy,jdbcType=BIGINT},</if>
                <if test="modifyDate != null">modifyDate = #{modifyDate,jdbcType=TIMESTAMP},</if>
                <if test="modifiedBy != null">modifiedBy = #{modifiedBy,jdbcType=BIGINT},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cskt.pojo.ItripHotelOrder">
        update itrip_hotel_order
        <set>
                <if test="userId != null">
                    userId = #{userId,jdbcType=BIGINT},
                </if>
                <if test="orderType != null">
                    orderType = #{orderType,jdbcType=INTEGER},
                </if>
                <if test="orderNo != null">
                    orderNo = #{orderNo,jdbcType=VARCHAR},
                </if>
                <if test="tradeNo != null">
                    tradeNo = #{tradeNo,jdbcType=VARCHAR},
                </if>
                <if test="hotelId != null">
                    hotelId = #{hotelId,jdbcType=BIGINT},
                </if>
                <if test="hotelName != null">
                    hotelName = #{hotelName,jdbcType=VARCHAR},
                </if>
                <if test="roomId != null">
                    roomId = #{roomId,jdbcType=BIGINT},
                </if>
                <if test="count != null">
                    count = #{count,jdbcType=INTEGER},
                </if>
                <if test="bookingDays != null">
                    bookingDays = #{bookingDays,jdbcType=INTEGER},
                </if>
                <if test="checkInDate != null">
                    checkInDate = #{checkInDate,jdbcType=TIMESTAMP},
                </if>
                <if test="checkOutDate != null">
                    checkOutDate = #{checkOutDate,jdbcType=TIMESTAMP},
                </if>
                <if test="orderStatus != null">
                    orderStatus = #{orderStatus,jdbcType=INTEGER},
                </if>
                <if test="payAmount != null">
                    payAmount = #{payAmount,jdbcType=DECIMAL},
                </if>
                <if test="payType != null">
                    payType = #{payType,jdbcType=INTEGER},
                </if>
                <if test="noticePhone != null">
                    noticePhone = #{noticePhone,jdbcType=VARCHAR},
                </if>
                <if test="noticeEmail != null">
                    noticeEmail = #{noticeEmail,jdbcType=VARCHAR},
                </if>
                <if test="specialRequirement != null">
                    specialRequirement = #{specialRequirement,jdbcType=VARCHAR},
                </if>
                <if test="isNeedInvoice != null">
                    isNeedInvoice = #{isNeedInvoice,jdbcType=INTEGER},
                </if>
                <if test="invoiceType != null">
                    invoiceType = #{invoiceType,jdbcType=INTEGER},
                </if>
                <if test="invoiceHead != null">
                    invoiceHead = #{invoiceHead,jdbcType=VARCHAR},
                </if>
                <if test="linkUserName != null">
                    linkUserName = #{linkUserName,jdbcType=VARCHAR},
                </if>
                <if test="bookType != null">
                    bookType = #{bookType,jdbcType=INTEGER},
                </if>
                <if test="creationDate != null">
                    creationDate = #{creationDate,jdbcType=TIMESTAMP},
                </if>
                <if test="createdBy != null">
                    createdBy = #{createdBy,jdbcType=BIGINT},
                </if>
                <if test="modifyDate != null">
                    modifyDate = #{modifyDate,jdbcType=TIMESTAMP},
                </if>
                <if test="modifiedBy != null">
                    modifiedBy = #{modifiedBy,jdbcType=BIGINT},
                </if>
        </set>
        where   id = #{id,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cskt.pojo.ItripHotelOrder">
        update itrip_hotel_order
        set 
            userId =  #{userId,jdbcType=BIGINT},
            orderType =  #{orderType,jdbcType=INTEGER},
            orderNo =  #{orderNo,jdbcType=VARCHAR},
            tradeNo =  #{tradeNo,jdbcType=VARCHAR},
            hotelId =  #{hotelId,jdbcType=BIGINT},
            hotelName =  #{hotelName,jdbcType=VARCHAR},
            roomId =  #{roomId,jdbcType=BIGINT},
            count =  #{count,jdbcType=INTEGER},
            bookingDays =  #{bookingDays,jdbcType=INTEGER},
            checkInDate =  #{checkInDate,jdbcType=TIMESTAMP},
            checkOutDate =  #{checkOutDate,jdbcType=TIMESTAMP},
            orderStatus =  #{orderStatus,jdbcType=INTEGER},
            payAmount =  #{payAmount,jdbcType=DECIMAL},
            payType =  #{payType,jdbcType=INTEGER},
            noticePhone =  #{noticePhone,jdbcType=VARCHAR},
            noticeEmail =  #{noticeEmail,jdbcType=VARCHAR},
            specialRequirement =  #{specialRequirement,jdbcType=VARCHAR},
            isNeedInvoice =  #{isNeedInvoice,jdbcType=INTEGER},
            invoiceType =  #{invoiceType,jdbcType=INTEGER},
            invoiceHead =  #{invoiceHead,jdbcType=VARCHAR},
            linkUserName =  #{linkUserName,jdbcType=VARCHAR},
            bookType =  #{bookType,jdbcType=INTEGER},
            creationDate =  #{creationDate,jdbcType=TIMESTAMP},
            createdBy =  #{createdBy,jdbcType=BIGINT},
            modifyDate =  #{modifyDate,jdbcType=TIMESTAMP},
            modifiedBy =  #{modifiedBy,jdbcType=BIGINT}
        where   id = #{id,jdbcType=BIGINT} 
    </update>
</mapper>
