<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskt.mapper.ItripAreaDicMapper">

    <resultMap id="BaseResultMap" type="com.cskt.pojo.ItripAreaDic">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="areaNo" column="areaNo" jdbcType="VARCHAR"/>
            <result property="parent" column="parent" jdbcType="BIGINT"/>
            <result property="isActivated" column="isActivated" jdbcType="INTEGER"/>
            <result property="isTradingArea" column="isTradingArea" jdbcType="INTEGER"/>
            <result property="isHot" column="isHot" jdbcType="INTEGER"/>
            <result property="level" column="level" jdbcType="INTEGER"/>
            <result property="isChina" column="isChina" jdbcType="INTEGER"/>
            <result property="pinyin" column="pinyin" jdbcType="VARCHAR"/>
            <result property="creationDate" column="creationDate" jdbcType="TIMESTAMP"/>
            <result property="createdBy" column="createdBy" jdbcType="BIGINT"/>
            <result property="modifyDate" column="modifyDate" jdbcType="TIMESTAMP"/>
            <result property="modifiedBy" column="modifiedBy" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,areaNo,
        parent,isActivated,isTradingArea,
        isHot,level,isChina,
        pinyin,creationDate,createdBy,
        modifyDate,modifiedBy
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from itrip_area_dic
        where  id = #{id,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from itrip_area_dic
        where  id = #{id,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.cskt.pojo.ItripAreaDic" useGeneratedKeys="true">
        insert into itrip_area_dic
        ( id,name,areaNo
        ,parent,isActivated,isTradingArea
        ,isHot,level,isChina
        ,pinyin,creationDate,createdBy
        ,modifyDate,modifiedBy)
        values (#{id,jdbcType=BIGINT},#{name,jdbcType=VARCHAR},#{areaNo,jdbcType=VARCHAR}
        ,#{parent,jdbcType=BIGINT},#{isActivated,jdbcType=INTEGER},#{isTradingArea,jdbcType=INTEGER}
        ,#{isHot,jdbcType=INTEGER},#{level,jdbcType=INTEGER},#{isChina,jdbcType=INTEGER}
        ,#{pinyin,jdbcType=VARCHAR},#{creationDate,jdbcType=TIMESTAMP},#{createdBy,jdbcType=BIGINT}
        ,#{modifyDate,jdbcType=TIMESTAMP},#{modifiedBy,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.cskt.pojo.ItripAreaDic" useGeneratedKeys="true">
        insert into itrip_area_dic
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="name != null">name,</if>
                <if test="areaNo != null">areaNo,</if>
                <if test="parent != null">parent,</if>
                <if test="isActivated != null">isActivated,</if>
                <if test="isTradingArea != null">isTradingArea,</if>
                <if test="isHot != null">isHot,</if>
                <if test="level != null">level,</if>
                <if test="isChina != null">isChina,</if>
                <if test="pinyin != null">pinyin,</if>
                <if test="creationDate != null">creationDate,</if>
                <if test="createdBy != null">createdBy,</if>
                <if test="modifyDate != null">modifyDate,</if>
                <if test="modifiedBy != null">modifiedBy,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">id = #{id,jdbcType=BIGINT},</if>
                <if test="name != null">name = #{name,jdbcType=VARCHAR},</if>
                <if test="areaNo != null">areaNo = #{areaNo,jdbcType=VARCHAR},</if>
                <if test="parent != null">parent = #{parent,jdbcType=BIGINT},</if>
                <if test="isActivated != null">isActivated = #{isActivated,jdbcType=INTEGER},</if>
                <if test="isTradingArea != null">isTradingArea = #{isTradingArea,jdbcType=INTEGER},</if>
                <if test="isHot != null">isHot = #{isHot,jdbcType=INTEGER},</if>
                <if test="level != null">level = #{level,jdbcType=INTEGER},</if>
                <if test="isChina != null">isChina = #{isChina,jdbcType=INTEGER},</if>
                <if test="pinyin != null">pinyin = #{pinyin,jdbcType=VARCHAR},</if>
                <if test="creationDate != null">creationDate = #{creationDate,jdbcType=TIMESTAMP},</if>
                <if test="createdBy != null">createdBy = #{createdBy,jdbcType=BIGINT},</if>
                <if test="modifyDate != null">modifyDate = #{modifyDate,jdbcType=TIMESTAMP},</if>
                <if test="modifiedBy != null">modifiedBy = #{modifiedBy,jdbcType=BIGINT},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cskt.pojo.ItripAreaDic">
        update itrip_area_dic
        <set>
                <if test="name != null">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="areaNo != null">
                    areaNo = #{areaNo,jdbcType=VARCHAR},
                </if>
                <if test="parent != null">
                    parent = #{parent,jdbcType=BIGINT},
                </if>
                <if test="isActivated != null">
                    isActivated = #{isActivated,jdbcType=INTEGER},
                </if>
                <if test="isTradingArea != null">
                    isTradingArea = #{isTradingArea,jdbcType=INTEGER},
                </if>
                <if test="isHot != null">
                    isHot = #{isHot,jdbcType=INTEGER},
                </if>
                <if test="level != null">
                    level = #{level,jdbcType=INTEGER},
                </if>
                <if test="isChina != null">
                    isChina = #{isChina,jdbcType=INTEGER},
                </if>
                <if test="pinyin != null">
                    pinyin = #{pinyin,jdbcType=VARCHAR},
                </if>
                <if test="creationDate != null">
                    creationDate = #{creationDate,jdbcType=TIMESTAMP},
                </if>
                <if test="createdBy != null">
                    createdBy = #{createdBy,jdbcType=BIGINT},
                </if>
                <if test="modifyDate != null">
                    modifyDate = #{modifyDate,jdbcType=TIMESTAMP},
                </if>
                <if test="modifiedBy != null">
                    modifiedBy = #{modifiedBy,jdbcType=BIGINT},
                </if>
        </set>
        where   id = #{id,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cskt.pojo.ItripAreaDic">
        update itrip_area_dic
        set 
            name =  #{name,jdbcType=VARCHAR},
            areaNo =  #{areaNo,jdbcType=VARCHAR},
            parent =  #{parent,jdbcType=BIGINT},
            isActivated =  #{isActivated,jdbcType=INTEGER},
            isTradingArea =  #{isTradingArea,jdbcType=INTEGER},
            isHot =  #{isHot,jdbcType=INTEGER},
            level =  #{level,jdbcType=INTEGER},
            isChina =  #{isChina,jdbcType=INTEGER},
            pinyin =  #{pinyin,jdbcType=VARCHAR},
            creationDate =  #{creationDate,jdbcType=TIMESTAMP},
            createdBy =  #{createdBy,jdbcType=BIGINT},
            modifyDate =  #{modifyDate,jdbcType=TIMESTAMP},
            modifiedBy =  #{modifiedBy,jdbcType=BIGINT}
        where   id = #{id,jdbcType=BIGINT} 
    </update>
</mapper>
