<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskt.mapper.ItripProductStoreMapper">

    <resultMap id="BaseResultMap" type="com.cskt.pojo.ItripProductStore">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="productType" column="productType" jdbcType="INTEGER"/>
            <result property="productId" column="productId" jdbcType="BIGINT"/>
            <result property="store" column="store" jdbcType="INTEGER"/>
            <result property="creationDate" column="creationDate" jdbcType="TIMESTAMP"/>
            <result property="createdBy" column="createdBy" jdbcType="BIGINT"/>
            <result property="modifyDate" column="modifyDate" jdbcType="TIMESTAMP"/>
            <result property="modifiedBy" column="modifiedBy" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,productType,productId,
        store,creationDate,createdBy,
        modifyDate,modifiedBy
    </sql>
</mapper>
