<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskt.mapper.ItripImageMapper">

    <resultMap id="BaseResultMap" type="com.cskt.pojo.ItripImage">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="targetId" column="targetId" jdbcType="BIGINT"/>
            <result property="position" column="position" jdbcType="INTEGER"/>
            <result property="imgUrl" column="imgUrl" jdbcType="VARCHAR"/>
            <result property="creationDate" column="creationDate" jdbcType="TIMESTAMP"/>
            <result property="createdBy" column="createdBy" jdbcType="BIGINT"/>
            <result property="modifyDate" column="modifyDate" jdbcType="TIMESTAMP"/>
            <result property="modifiedBy" column="modifiedBy" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,type,targetId,
        position,imgUrl,creationDate,
        createdBy,modifyDate,modifiedBy
    </sql>
</mapper>
