<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskt.mapper.ItripUserMapper">

    <resultMap id="BaseResultMap" type="com.cskt.pojo.ItripUser">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userCode" column="userCode" jdbcType="VARCHAR"/>
            <result property="userPassword" column="userPassword" jdbcType="VARCHAR"/>
            <result property="userType" column="userType" jdbcType="INTEGER"/>
            <result property="flatID" column="flatID" jdbcType="BIGINT"/>
            <result property="userName" column="userName" jdbcType="VARCHAR"/>
            <result property="weChat" column="weChat" jdbcType="VARCHAR"/>
            <result property="QQ" column="QQ" jdbcType="VARCHAR"/>
            <result property="weibo" column="weibo" jdbcType="VARCHAR"/>
            <result property="baidu" column="baidu" jdbcType="VARCHAR"/>
            <result property="creationDate" column="creationDate" jdbcType="TIMESTAMP"/>
            <result property="createdBy" column="createdBy" jdbcType="BIGINT"/>
            <result property="modifyDate" column="modifyDate" jdbcType="TIMESTAMP"/>
            <result property="modifiedBy" column="modifiedBy" jdbcType="BIGINT"/>
            <result property="activated" column="activated" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userCode,userPassword,
        userType,flatID,userName,
        weChat,QQ,weibo,
        baidu,creationDate,createdBy,
        modifyDate,modifiedBy,activated
    </sql>
</mapper>
