<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskt.mapper.ItripHotelTradingAreaMapper">

    <resultMap id="BaseResultMap" type="com.cskt.pojo.ItripHotelTradingArea">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="hotelId" column="hotelId" jdbcType="BIGINT"/>
            <result property="areaId" column="areaId" jdbcType="BIGINT"/>
            <result property="creationDate" column="creationDate" jdbcType="TIMESTAMP"/>
            <result property="createdBy" column="createdBy" jdbcType="BIGINT"/>
            <result property="modifyDate" column="modifyDate" jdbcType="TIMESTAMP"/>
            <result property="modifiedBy" column="modifiedBy" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,hotelId,areaId,
        creationDate,createdBy,modifyDate,
        modifiedBy
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from itrip_hotel_trading_area
        where  id = #{id,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from itrip_hotel_trading_area
        where  id = #{id,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.cskt.pojo.ItripHotelTradingArea" useGeneratedKeys="true">
        insert into itrip_hotel_trading_area
        ( id,hotelId,areaId
        ,creationDate,createdBy,modifyDate
        ,modifiedBy)
        values (#{id,jdbcType=BIGINT},#{hotelId,jdbcType=BIGINT},#{areaId,jdbcType=BIGINT}
        ,#{creationDate,jdbcType=TIMESTAMP},#{createdBy,jdbcType=BIGINT},#{modifyDate,jdbcType=TIMESTAMP}
        ,#{modifiedBy,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.cskt.pojo.ItripHotelTradingArea" useGeneratedKeys="true">
        insert into itrip_hotel_trading_area
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="hotelId != null">hotelId,</if>
                <if test="areaId != null">areaId,</if>
                <if test="creationDate != null">creationDate,</if>
                <if test="createdBy != null">createdBy,</if>
                <if test="modifyDate != null">modifyDate,</if>
                <if test="modifiedBy != null">modifiedBy,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">id = #{id,jdbcType=BIGINT},</if>
                <if test="hotelId != null">hotelId = #{hotelId,jdbcType=BIGINT},</if>
                <if test="areaId != null">areaId = #{areaId,jdbcType=BIGINT},</if>
                <if test="creationDate != null">creationDate = #{creationDate,jdbcType=TIMESTAMP},</if>
                <if test="createdBy != null">createdBy = #{createdBy,jdbcType=BIGINT},</if>
                <if test="modifyDate != null">modifyDate = #{modifyDate,jdbcType=TIMESTAMP},</if>
                <if test="modifiedBy != null">modifiedBy = #{modifiedBy,jdbcType=BIGINT},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cskt.pojo.ItripHotelTradingArea">
        update itrip_hotel_trading_area
        <set>
                <if test="hotelId != null">
                    hotelId = #{hotelId,jdbcType=BIGINT},
                </if>
                <if test="areaId != null">
                    areaId = #{areaId,jdbcType=BIGINT},
                </if>
                <if test="creationDate != null">
                    creationDate = #{creationDate,jdbcType=TIMESTAMP},
                </if>
                <if test="createdBy != null">
                    createdBy = #{createdBy,jdbcType=BIGINT},
                </if>
                <if test="modifyDate != null">
                    modifyDate = #{modifyDate,jdbcType=TIMESTAMP},
                </if>
                <if test="modifiedBy != null">
                    modifiedBy = #{modifiedBy,jdbcType=BIGINT},
                </if>
        </set>
        where   id = #{id,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cskt.pojo.ItripHotelTradingArea">
        update itrip_hotel_trading_area
        set 
            hotelId =  #{hotelId,jdbcType=BIGINT},
            areaId =  #{areaId,jdbcType=BIGINT},
            creationDate =  #{creationDate,jdbcType=TIMESTAMP},
            createdBy =  #{createdBy,jdbcType=BIGINT},
            modifyDate =  #{modifyDate,jdbcType=TIMESTAMP},
            modifiedBy =  #{modifiedBy,jdbcType=BIGINT}
        where   id = #{id,jdbcType=BIGINT} 
    </update>
</mapper>
