<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskt.mapper.ItripHotelRoomMapper">

    <resultMap id="BaseResultMap" type="com.cskt.pojo.ItripHotelRoom">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="hotelId" column="hotelId" jdbcType="BIGINT"/>
            <result property="roomTitle" column="roomTitle" jdbcType="VARCHAR"/>
            <result property="roomPrice" column="roomPrice" jdbcType="DECIMAL"/>
            <result property="roomBedTypeId" column="roomBedTypeId" jdbcType="BIGINT"/>
            <result property="isHavingBreakfast" column="isHavingBreakfast" jdbcType="INTEGER"/>
            <result property="payType" column="payType" jdbcType="INTEGER"/>
            <result property="satisfaction" column="satisfaction" jdbcType="DECIMAL"/>
            <result property="isBook" column="isBook" jdbcType="INTEGER"/>
            <result property="isCancel" column="isCancel" jdbcType="INTEGER"/>
            <result property="isTimelyResponse" column="isTimelyResponse" jdbcType="INTEGER"/>
            <result property="creationDate" column="creationDate" jdbcType="TIMESTAMP"/>
            <result property="createdBy" column="createdBy" jdbcType="BIGINT"/>
            <result property="modifyDate" column="modifyDate" jdbcType="TIMESTAMP"/>
            <result property="modifiedBy" column="modifiedBy" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,hotelId,roomTitle,
        roomPrice,roomBedTypeId,isHavingBreakfast,
        payType,satisfaction,isBook,
        isCancel,isTimelyResponse,creationDate,
        createdBy,modifyDate,modifiedBy
    </sql>
</mapper>
