<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskt.mapper.ItripTradeEndsMapper">

    <resultMap id="BaseResultMap" type="com.cskt.pojo.ItripTradeEnds">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="orderNo" column="orderNo" jdbcType="VARCHAR"/>
            <result property="flag" column="flag" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,orderNo,flag
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from itrip_trade_ends
        where  id = #{id,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from itrip_trade_ends
        where  id = #{id,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.cskt.pojo.ItripTradeEnds" useGeneratedKeys="true">
        insert into itrip_trade_ends
        ( id,orderNo,flag
        )
        values (#{id,jdbcType=BIGINT},#{orderNo,jdbcType=VARCHAR},#{flag,jdbcType=BOOLEAN}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.cskt.pojo.ItripTradeEnds" useGeneratedKeys="true">
        insert into itrip_trade_ends
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="orderNo != null">orderNo,</if>
                <if test="flag != null">flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">id = #{id,jdbcType=BIGINT},</if>
                <if test="orderNo != null">orderNo = #{orderNo,jdbcType=VARCHAR},</if>
                <if test="flag != null">flag = #{flag,jdbcType=BOOLEAN},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cskt.pojo.ItripTradeEnds">
        update itrip_trade_ends
        <set>
                <if test="orderNo != null">
                    orderNo = #{orderNo,jdbcType=VARCHAR},
                </if>
                <if test="flag != null">
                    flag = #{flag,jdbcType=BOOLEAN},
                </if>
        </set>
        where   id = #{id,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cskt.pojo.ItripTradeEnds">
        update itrip_trade_ends
        set 
            orderNo =  #{orderNo,jdbcType=VARCHAR},
            flag =  #{flag,jdbcType=BOOLEAN}
        where   id = #{id,jdbcType=BIGINT} 
    </update>
</mapper>
