<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskt.mapper.ItripUserLinkUserMapper">

    <resultMap id="BaseResultMap" type="com.cskt.pojo.ItripUserLinkUser">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="linkUserName" column="linkUserName" jdbcType="VARCHAR"/>
            <result property="linkIdCard" column="linkIdCard" jdbcType="VARCHAR"/>
            <result property="linkPhone" column="linkPhone" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="INTEGER"/>
            <result property="creationDate" column="creationDate" jdbcType="TIMESTAMP"/>
            <result property="createdBy" column="createdBy" jdbcType="BIGINT"/>
            <result property="modifyDate" column="modifyDate" jdbcType="TIMESTAMP"/>
            <result property="modifiedBy" column="modifiedBy" jdbcType="BIGINT"/>
            <result property="linkIdCardType" column="linkIdCardType" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,linkUserName,linkIdCard,
        linkPhone,userId,creationDate,
        createdBy,modifyDate,modifiedBy,
        linkIdCardType
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from itrip_user_link_user
        where  id = #{id,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from itrip_user_link_user
        where  id = #{id,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.cskt.pojo.ItripUserLinkUser" useGeneratedKeys="true">
        insert into itrip_user_link_user
        ( id,linkUserName,linkIdCard
        ,linkPhone,userId,creationDate
        ,createdBy,modifyDate,modifiedBy
        ,linkIdCardType)
        values (#{id,jdbcType=BIGINT},#{linkUserName,jdbcType=VARCHAR},#{linkIdCard,jdbcType=VARCHAR}
        ,#{linkPhone,jdbcType=VARCHAR},#{userId,jdbcType=INTEGER},#{creationDate,jdbcType=TIMESTAMP}
        ,#{createdBy,jdbcType=BIGINT},#{modifyDate,jdbcType=TIMESTAMP},#{modifiedBy,jdbcType=BIGINT}
        ,#{linkIdCardType,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.cskt.pojo.ItripUserLinkUser" useGeneratedKeys="true">
        insert into itrip_user_link_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="linkUserName != null">linkUserName,</if>
                <if test="linkIdCard != null">linkIdCard,</if>
                <if test="linkPhone != null">linkPhone,</if>
                <if test="userId != null">userId,</if>
                <if test="creationDate != null">creationDate,</if>
                <if test="createdBy != null">createdBy,</if>
                <if test="modifyDate != null">modifyDate,</if>
                <if test="modifiedBy != null">modifiedBy,</if>
                <if test="linkIdCardType != null">linkIdCardType,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">id = #{id,jdbcType=BIGINT},</if>
                <if test="linkUserName != null">linkUserName = #{linkUserName,jdbcType=VARCHAR},</if>
                <if test="linkIdCard != null">linkIdCard = #{linkIdCard,jdbcType=VARCHAR},</if>
                <if test="linkPhone != null">linkPhone = #{linkPhone,jdbcType=VARCHAR},</if>
                <if test="userId != null">userId = #{userId,jdbcType=INTEGER},</if>
                <if test="creationDate != null">creationDate = #{creationDate,jdbcType=TIMESTAMP},</if>
                <if test="createdBy != null">createdBy = #{createdBy,jdbcType=BIGINT},</if>
                <if test="modifyDate != null">modifyDate = #{modifyDate,jdbcType=TIMESTAMP},</if>
                <if test="modifiedBy != null">modifiedBy = #{modifiedBy,jdbcType=BIGINT},</if>
                <if test="linkIdCardType != null">linkIdCardType = #{linkIdCardType,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cskt.pojo.ItripUserLinkUser">
        update itrip_user_link_user
        <set>
                <if test="linkUserName != null">
                    linkUserName = #{linkUserName,jdbcType=VARCHAR},
                </if>
                <if test="linkIdCard != null">
                    linkIdCard = #{linkIdCard,jdbcType=VARCHAR},
                </if>
                <if test="linkPhone != null">
                    linkPhone = #{linkPhone,jdbcType=VARCHAR},
                </if>
                <if test="userId != null">
                    userId = #{userId,jdbcType=INTEGER},
                </if>
                <if test="creationDate != null">
                    creationDate = #{creationDate,jdbcType=TIMESTAMP},
                </if>
                <if test="createdBy != null">
                    createdBy = #{createdBy,jdbcType=BIGINT},
                </if>
                <if test="modifyDate != null">
                    modifyDate = #{modifyDate,jdbcType=TIMESTAMP},
                </if>
                <if test="modifiedBy != null">
                    modifiedBy = #{modifiedBy,jdbcType=BIGINT},
                </if>
                <if test="linkIdCardType != null">
                    linkIdCardType = #{linkIdCardType,jdbcType=INTEGER},
                </if>
        </set>
        where   id = #{id,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cskt.pojo.ItripUserLinkUser">
        update itrip_user_link_user
        set 
            linkUserName =  #{linkUserName,jdbcType=VARCHAR},
            linkIdCard =  #{linkIdCard,jdbcType=VARCHAR},
            linkPhone =  #{linkPhone,jdbcType=VARCHAR},
            userId =  #{userId,jdbcType=INTEGER},
            creationDate =  #{creationDate,jdbcType=TIMESTAMP},
            createdBy =  #{createdBy,jdbcType=BIGINT},
            modifyDate =  #{modifyDate,jdbcType=TIMESTAMP},
            modifiedBy =  #{modifiedBy,jdbcType=BIGINT},
            linkIdCardType =  #{linkIdCardType,jdbcType=INTEGER}
        where   id = #{id,jdbcType=BIGINT} 
    </update>
</mapper>
