<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskt.mapper.ItripHotelExtendPropertyMapper">

    <resultMap id="BaseResultMap" type="com.cskt.pojo.ItripHotelExtendProperty">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="hotelId" column="hotelId" jdbcType="BIGINT"/>
            <result property="extendPropertyId" column="extendPropertyId" jdbcType="BIGINT"/>
            <result property="creationDate" column="creationDate" jdbcType="TIMESTAMP"/>
            <result property="createdBy" column="createdBy" jdbcType="BIGINT"/>
            <result property="modifyDate" column="modifyDate" jdbcType="TIMESTAMP"/>
            <result property="modifiedBy" column="modifiedBy" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,hotelId,extendPropertyId,
        creationDate,createdBy,modifyDate,
        modifiedBy
    </sql>
</mapper>
