<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskt.mapper.ItripCommentMapper">

    <resultMap id="BaseResultMap" type="com.cskt.pojo.ItripComment">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="hotelId" column="hotelId" jdbcType="BIGINT"/>
            <result property="productId" column="productId" jdbcType="BIGINT"/>
            <result property="orderId" column="orderId" jdbcType="BIGINT"/>
            <result property="productType" column="productType" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="isHavingImg" column="isHavingImg" jdbcType="INTEGER"/>
            <result property="positionScore" column="positionScore" jdbcType="INTEGER"/>
            <result property="facilitiesScore" column="facilitiesScore" jdbcType="INTEGER"/>
            <result property="serviceScore" column="serviceScore" jdbcType="INTEGER"/>
            <result property="hygieneScore" column="hygieneScore" jdbcType="INTEGER"/>
            <result property="score" column="score" jdbcType="INTEGER"/>
            <result property="tripMode" column="tripMode" jdbcType="BIGINT"/>
            <result property="isOk" column="isOk" jdbcType="INTEGER"/>
            <result property="creationDate" column="creationDate" jdbcType="TIMESTAMP"/>
            <result property="createdBy" column="createdBy" jdbcType="BIGINT"/>
            <result property="modifyDate" column="modifyDate" jdbcType="TIMESTAMP"/>
            <result property="modifiedBy" column="modifiedBy" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,hotelId,productId,
        orderId,productType,content,
        userId,isHavingImg,positionScore,
        facilitiesScore,serviceScore,hygieneScore,
        score,tripMode,isOk,
        creationDate,createdBy,modifyDate,
        modifiedBy
    </sql>
</mapper>
