<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskt.mapper.ItripHotelMapper">

    <resultMap id="BaseResultMap" type="com.cskt.pojo.ItripHotel">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="hotelName" column="hotelName" jdbcType="VARCHAR"/>
            <result property="countryId" column="countryId" jdbcType="BIGINT"/>
            <result property="provinceId" column="provinceId" jdbcType="BIGINT"/>
            <result property="cityId" column="cityId" jdbcType="BIGINT"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="details" column="details" jdbcType="VARCHAR"/>
            <result property="facilities" column="facilities" jdbcType="VARCHAR"/>
            <result property="hotelPolicy" column="hotelPolicy" jdbcType="VARCHAR"/>
            <result property="hotelType" column="hotelType" jdbcType="INTEGER"/>
            <result property="hotelLevel" column="hotelLevel" jdbcType="INTEGER"/>
            <result property="isGroupPurchase" column="isGroupPurchase" jdbcType="INTEGER"/>
            <result property="redundantCityName" column="redundantCityName" jdbcType="VARCHAR"/>
            <result property="redundantProvinceName" column="redundantProvinceName" jdbcType="VARCHAR"/>
            <result property="redundantCountryName" column="redundantCountryName" jdbcType="VARCHAR"/>
            <result property="redundantHotelStore" column="redundantHotelStore" jdbcType="INTEGER"/>
            <result property="creationDate" column="creationDate" jdbcType="TIMESTAMP"/>
            <result property="createdBy" column="createdBy" jdbcType="BIGINT"/>
            <result property="modifyDate" column="modifyDate" jdbcType="TIMESTAMP"/>
            <result property="modifiedBy" column="modifiedBy" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,hotelName,countryId,
        provinceId,cityId,address,
        details,facilities,hotelPolicy,
        hotelType,hotelLevel,isGroupPurchase,
        redundantCityName,redundantProvinceName,redundantCountryName,
        redundantHotelStore,creationDate,createdBy,
        modifyDate,modifiedBy
    </sql>
</mapper>
