<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskt.mapper.ItripHotelOrderMapper">

    <resultMap id="BaseResultMap" type="com.cskt.pojo.ItripHotelOrder">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="orderType" column="orderType" jdbcType="INTEGER"/>
            <result property="orderNo" column="orderNo" jdbcType="VARCHAR"/>
            <result property="tradeNo" column="tradeNo" jdbcType="VARCHAR"/>
            <result property="hotelId" column="hotelId" jdbcType="BIGINT"/>
            <result property="hotelName" column="hotelName" jdbcType="VARCHAR"/>
            <result property="roomId" column="roomId" jdbcType="BIGINT"/>
            <result property="count" column="count" jdbcType="INTEGER"/>
            <result property="bookingDays" column="bookingDays" jdbcType="INTEGER"/>
            <result property="checkInDate" column="checkInDate" jdbcType="TIMESTAMP"/>
            <result property="checkOutDate" column="checkOutDate" jdbcType="TIMESTAMP"/>
            <result property="orderStatus" column="orderStatus" jdbcType="INTEGER"/>
            <result property="payAmount" column="payAmount" jdbcType="DECIMAL"/>
            <result property="payType" column="payType" jdbcType="INTEGER"/>
            <result property="noticePhone" column="noticePhone" jdbcType="VARCHAR"/>
            <result property="noticeEmail" column="noticeEmail" jdbcType="VARCHAR"/>
            <result property="specialRequirement" column="specialRequirement" jdbcType="VARCHAR"/>
            <result property="isNeedInvoice" column="isNeedInvoice" jdbcType="INTEGER"/>
            <result property="invoiceType" column="invoiceType" jdbcType="INTEGER"/>
            <result property="invoiceHead" column="invoiceHead" jdbcType="VARCHAR"/>
            <result property="linkUserName" column="linkUserName" jdbcType="VARCHAR"/>
            <result property="bookType" column="bookType" jdbcType="INTEGER"/>
            <result property="creationDate" column="creationDate" jdbcType="TIMESTAMP"/>
            <result property="createdBy" column="createdBy" jdbcType="BIGINT"/>
            <result property="modifyDate" column="modifyDate" jdbcType="TIMESTAMP"/>
            <result property="modifiedBy" column="modifiedBy" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,orderType,
        orderNo,tradeNo,hotelId,
        hotelName,roomId,count,
        bookingDays,checkInDate,checkOutDate,
        orderStatus,payAmount,payType,
        noticePhone,noticeEmail,specialRequirement,
        isNeedInvoice,invoiceType,invoiceHead,
        linkUserName,bookType,creationDate,
        createdBy,modifyDate,modifiedBy
    </sql>
</mapper>
